<div class="container text-center mt-5">
    <div class="alert alert-success">
        <h3>¡Voto Registrado con Éxito!</h3>
        <p>Gracias por participar en este proceso democrático.</p>
        <a href="/" class="btn btn-success">Finalizar</a>
    </div>
</div>