@using VotoElectronico.Seguro.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* Se agrega ms-auto para empujar el contenido a la derecha *@
<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @{
                var user = await UserManager.GetUserAsync(User);
                var nombreMostrar = user?.Nombre ?? User.Identity?.Name;
            }
            <a class="nav-link text-white fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="bi bi-person-circle"></i> ¡Hola, @nombreMostrar!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white border-0">
                    <i class="bi bi-box-arrow-right"></i> Salir
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
        </li>
    }
</ul>